* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-mlt.mlt.acx -text
/apertium-mlt.mlt.dix -text
/apertium-mlt.mlt.rlx -text
/apertium-mlt.pc.in -text
/apertium-mlt.post-mlt.dix -text
/autogen.sh -text
/configure.ac -text
dev/editdist.py -text
dev/mt_verbs/classes/__init__.py -text
dev/mt_verbs/classes/defective.py -text
dev/mt_verbs/classes/doubled.py -text
dev/mt_verbs/classes/hollow.py -text
dev/mt_verbs/classes/irregular.py -text
dev/mt_verbs/classes/loan.py -text
dev/mt_verbs/classes/quad.py -text
dev/mt_verbs/classes/strong.py -text
dev/mt_verbs/classes/weak.py -text
dev/mt_verbs/stems-irregular.wiki -text
dev/mt_verbs/stems-loan.wiki -text
dev/mt_verbs/stems-semitic.wiki -text
dev/mt_verbs/verb.py -text
eval/evaluate-morph.py -text
eval/list.txt -text
eval/malti.txt -text
eval/ref.txt -text
eval/src.txt -text
eval/tst.txt -text
/mlt.prob -text
/modes.xml -text
speller/editdist.default.txt -text
speller/index.xml -text
speller/strings.default.txt -text
speller/words.default.txt -text
texts/malta.vislcg.txt -text
texts/puupankki.mlt.feats -text
texts/puupankki/puupankki.mlt.conllu -text
texts/puupankki/puupankki.mlt.tagged -text
